docs
.idea
.ai
.xmake
build
.vs
vsxmake2026
src/Dreamsleeve.Server/obj
src/Dreamsleeve.Server/bin
src/Dreamsleeve.Server.Core/obj
src/Dreamsleeve.Server.Core/bin
src/Dreamsleeve.Server.Domain/obj
src/Dreamsleeve.Server.Domain/bin
src/Dreamsleeve.Server.Infrastructure/obj
src/Dreamsleeve.Server.Infrastructure/bin
src/Dreamsleeve.Agent/obj
src/Dreamsleeve.Agent/bin
src/Dreamsleeve.Protocol.Dotnet/obj
src/Dreamsleeve.Protocol.Dotnet/bin
